# This workflow deploy the EP repository to AWS instances

name: EP CI/CD Azure test

on:
  push:
    branches: [ master ]

  workflow_dispatch:

env:
  RELEASE_IDENTIFIER: electroplanet-release-${{github.run_id}}.tar.gz
  
jobs:
  checkout-release:
    runs-on: testcicd
    environment: preprod
    env:
      RELEASE_ENV: ${{ secrets.RELEASE_ENV }}
      DOCUMENT_ROOT: ${{ secrets.DOCUMENT_ROOT }}

    steps:
      - uses: actions/checkout@v2
  
  checkout-code-base:
    needs: checkout-release
    uses: ./.github/workflows/deploy-checkout-code-base.yml
    with:
     filename: "/var/www/cicd"
