# This workflow deploy the EP repository to AWS instances

name: EP CI/CD Azure test

on:
  push:
    branches: [ master ]

  workflow_dispatch:

env:
  RELEASE_IDENTIFIER: electroplanet-release-${{github.run_id}}.tar.gz
  
jobs:
  checkout-release:
    runs-on: vm-epecom-admin
    environment: preprod
    env:
      RELEASE_ENV: ${{ secrets.RELEASE_ENV }}
      DOCUMENT_ROOT: ${{ secrets.DOCUMENT_ROOT }}
    steps:
      - name: Download magento code base from S3
        run: |
            aws s3 cp ${{ secrets.S3_MAGENTO_CODE_BASE_243_FILENAME }} .
            ls -lh
      - name: Checkout release from github repository
        uses: actions/checkout@v2
        run: |
            ls -lh
